* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: sans-serif;
}
body {
  width: 30%;
  margin-inline: auto;
  padding: 30px;
  background-color: rgb(211, 166, 166);
}
section {
  background-color: rgb(23, 9, 9);
  padding: 20px;
  border-radius: 30px;
  box-shadow: 5px 5px 50px;
}
.upper-part {
  height: 35vh;
  text-align: right;
}
.calculate {
  color: rgb(184, 184, 184);
  font-size: 25px;
  margin-top: 90px;
}
.result {
  color: white;
  font-size: 60px;
}
.lower-part {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: -110px;
}
button {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(35, 35, 35);
  color: white;
  padding-bottom: 30px;
  border: 0px;
  
}
.sign-button {
  background-color: orange;
  color: black;
}
.up-button{
  background-color: rgb(118, 118, 118);
}
